$plotBorderColor: rgba(18, 32, 32, 1);
$platColor: rgba(27, 122, 62, 1);
$plotWateredColor: rgba(36, 82, 59, 1);
$plotTilledColor: rgba(187, 117, 71, 1);
$plotTilledWateredColor: rgba(142, 82, 82);

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: normal;
  font-size: 100%;
  font-family: monospace;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* SCREEN */
.world {
  /* Usable area on an iPhone SE is 320x444 pixels */
  width: 32rem;
  height: 44.4rem;
  overflow: hidden;
  margin: 0 auto;
  padding: 1.2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* FARM */
.plot {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border: 0.1rem solid $plotBorderColor;
  background-color: $platColor;
  image-rendering: pixelated;
}

.plot.water {
  background-color: $plotWateredColor;
};

.plot.till {
  background-color: $plotTilledColor;
}

.plot.till.water {
  background-color: $plotTilledWateredColor;
}

.plot.strawberry.stage1 {
  background-size: 57.6rem 48.0rem;
  background-image: url('../img/farming-crops-16x16.png');
  background-position-x: calc(-5 * 4.8rem);
  background-position-y: calc(-6 * 4.8rem);
}

.plot.strawberry.stage2 {
  background-size: 57.6rem 48.0rem;
  background-image: url('../img/farming-crops-16x16.png');
  background-position-x: calc(-4 * 4.8rem);
  background-position-y: calc(-6 * 4.8rem);
}

.plot.strawberry.stage3 {
  background-size: 57.6rem 48.0rem;
  background-image: url('../img/farming-crops-16x16.png');
  background-position-x: calc(-3 * 4.8rem);
  background-position-y: calc(-6 * 4.8rem);
}

.plot.strawberry.stage4 {
  background-size: 57.6rem 48.0rem;
  background-image: url('../img/farming-crops-16x16.png');
  background-position-x: calc(-2 * 4.8rem);
  background-position-y: calc(-6 * 4.8rem);
}

.plot.strawberry.stage5 {
  background-size: 57.6rem 48.0rem;
  background-image: url('../img/farming-crops-16x16.png');
  background-position-x: calc(-1 * 4.8rem);
  background-position-y: calc(-6 * 4.8rem);
}

/* CONTROLS */
.button {
  border: 0.1rem solid gold;
  min-width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.active {
  border: 0.1rem solid red;
}

/* COLOPHON */
.colophon {
  font-family: serif;
  margin-top: 0.8rem;
}

.colophon > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: 'Adobe Caslon Pro', 'Baskerville', 'Goudy Old Style', 'Palatino',
  'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Times New Roman', 'Times', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: help;
  /* Prevent `abbr` affecting the `line-height` */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
