$plotBorderColor: rgba(18, 32, 32, 1);
$platColor: rgba(27, 122, 62, 1);
$plotWateredColor: rgba(36, 82, 59, 1);
$plotTilledColor: rgba(187, 117, 71, 1);
$plotTilledWateredColor: rgba(142, 82, 82);
$tileWidth: 4.8rem;
$tileHeight: 4.8rem;

@mixin crop($name, $row) {
  @for $i from 1 through 5 {
    .plot.#{$name}.stage#{$i} {
      background-position-x: (($i - 6) * $tileWidth);
      background-position-y: (-1 * $row * $tileHeight);
    }
  }

  .picture.#{$name} {
    background-position-x: (0 * $tileWidth);
    background-position-y: (-1 * $row * $tileHeight);
  }
}

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: normal;
  font-size: 100%;
  font-family: monospace;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* SCREEN */
.world {
  /* Usable area on an iPhone SE is 320x444 pixels */
  width: 32rem;
  height: 44.4rem;
  overflow: hidden;
  margin: 0 auto;
  padding: 1.2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* FARM */
.tile {
  width: $tileHeight;
  height: $tileHeight;
  background-size: (6 * $tileWidth) (20 * $tileHeight);
  background-image: url('../img/tiles.png');
  image-rendering: pixelated;
}

.farm {
  flex-grow: 1;
}

.plot {
  display: block;
  width: $tileWidth;
  height: $tileHeight;
  border: 0.1rem solid $plotBorderColor;
  background-color: $platColor;
}

.plot.water {
  background-color: $plotWateredColor;
};

.plot.till {
  background-color: $plotTilledColor;
}

.plot.till.water {
  background-color: $plotTilledWateredColor;
}

@include crop('turnip', 0);
@include crop('chile', 1);
@include crop('tomato', 2);
@include crop('eggplant', 3);
@include crop('pineapple', 4);
@include crop('wheat', 5);
@include crop('strawberry', 6);
@include crop('potato', 7);
@include crop('orange', 8);
@include crop('corn', 9);
@include crop('rose', 10);
@include crop('tulip', 11);
@include crop('melon', 12);
@include crop('lemon', 13);
@include crop('rice', 14);
@include crop('grape', 15);
@include crop('cassava', 16);
@include crop('coffee', 17);
@include crop('avocado', 18);
@include crop('sunflower', 19);

/* STORE */
.store {
  flex-grow: 1;
}

/* MARKET */
.store,
.market {
  flex-grow: 1;

  .item {
    align-items: center;
    justify-content: space-between;
  }

  .picture {
    display: inline-block;
  }
}

/* CONTROLS */
.button {
  border: 0.1rem solid gold;
  min-width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.active {
  border: 0.1rem solid red;
}

/* COLOPHON */
.colophon {
  font-family: serif;
  margin-top: 0.8rem;
}

.colophon > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: 'Adobe Caslon Pro', 'Baskerville', 'Goudy Old Style', 'Palatino',
  'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Times New Roman', 'Times', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: help;
  /* Prevent `abbr` affecting the `line-height` */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* UTILS */
.hidden {
  display: none !important;
}

.capitalize {
  text-transform: capitalize;
}
